domy-scrape-sreality.json
{
  "name": "domy-scrape-sreality",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6704,
        -1312
      ],
      "id": "e6cee718-6487-4fc6-9903-96ff728d0155"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "810ed8db-19dd-4003-9d31-2fb0c4fa1ad0",
              "name": "searchUrl",
              "value": "https://www.sreality.cz/hledani/domy/usti-nad-orlici?lat-max=50.71037368077058&lat-min=49.30542663894831&lon-max=17.196350097656254&lon-min=15.707702636718752",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Search URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6480,
        -1312
      ],
      "id": "8996819a-82cc-4fc0-a930-2e881fc98841"
    },
    {
      "parameters": {
        "url": "={{ $json.searchUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "cs,en;q=0.9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6272,
        -1312
      ],
      "id": "49cea20c-7f77-4cde-80d0-2bd9cda202e9",
      "name": "Ziskej seznam inzeratu",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "url",
              "cssSelector": "a[href*=\"/detail/\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -5856,
        -1328
      ],
      "id": "1ee64f5b-806e-410f-9bf2-baec3d2447ba",
      "name": "Ziskej odkazy na inzeraty"
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5680,
        -1328
      ],
      "id": "ddc0c2de-1b3f-46bc-8a0e-75f7d820169d",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3840,
        -384
      ],
      "id": "5779c905-3d60-45dd-85b7-45dc9455ffcf",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "Jsi expert na hodnocení nemovitostí v ČR. Tvým úkolem je aanalyzovat text inzerátu, který ti poskytnu, a ohodnotit ho podle následujících kritérií a vah.\n\n**Kritéria hodnocení (škála 0–5, kde 5 je nejlepší):**\n\n1. **Dojezd do Prahy (Váha: 4)**\n    - **5:** do 40 min; **4:** do 50 min; **3:** do 60 min; **2:** do 75 min; **1:** do 90 min; **0:** nad 90 min\n2. **Dojezd do Ústí nad Labem (Váha: 2)**\n    - **5:** do 60 min; **4:** do 75 min; **3:** do 90 min; **2:** do 105 min; **1:** do 120 min; **0:** nad 120 min\n3. **Škola & školka (Váha: 4)**\n    - **5:** Škola i školka v docházkové vzdálenosti.\n    - **3:** Jen školka v obci, ZŠ dojíždění do 10 min.\n    - **0:** Vše je daleko.\n4. **Nutné investice (Váha: 3)**\n    - **5:** Žádné.\n    - **3:** Nutnost dokončit část domu.\n    - **1:** Dvě velké investice (střecha A fasáda).\n    - **0:** Kompletní rekonstrukce.\n5. **Technický stav (Váha: 3)**\n    - **5:** Moderní a úsporné (zatepleno, TČ/FVE).\n    - **3:** Průměrný (alespoň 1 klíčový prvek moderní).\n    - **0:** Špatný stav.\n6. **Pozemek (Váha: 2)**\n    - **5:** >1000 m², rovina.\n    - **3:** 600–800 m².\n    - **1:** <400 m² nebo svažitý.\n7. **Cena (Váha: 2)**\n    - **5:** Skvělá koupě.\n    - **3:** Průměrná cena.\n    - **0:** Předražené.\n8. **Vyžití pro děti (Váha: 1)**\n    - **5:** Plná vybavenost.\n    - **3:** Jen základ (hřiště).\n    - **0:** Nevhodné okolí.\n\n**Tvůj úkol:**\n\nNa základě níže uvedeného textu inzerátu:\n\n1. Upozorni mě, pokud je v textu psáno, že je nemovitost již rezervována. V takovém případě ani nepokračuj s dalsími kroky.\n2. Upozorni mě, pokud by bylo z textu zřejmé, že velikost obytného prostoru anebo dispozice nejsou zcela vyhovující pro čtyřčlennou rodinu.\n3. Proveď hodnocení pro každé z 8 kritérií.\n",
              "role": "system"
            },
            {
              "content": "=**Ohodnoť tento dům:**\nCena: {{ $json.price }}\nLokalita: {{ $json.location }}\nDetail: {{ $json.description }}\nEnergetická náročnost (u \"G\" se může jednat o zákonnou povist uvádět hodnocení bez hotového štítku): {{ $json.energy_class }}\nDůležité informace: {{ $json.tabulka }}\n\n**DŮLEŽITÉ: Výstup vrať pouze ve formátu JSON bez dalšího textu:**\n{\n  \"unique_id\": {{ $json.unique_id }},\n  \"lokalita\": {{ $json.location }},\n  \"rezervovano\": true/false,\n  \"nevhodne_pro_rodinu\": true/false,\n  \"duvod_nevhodnosti\": \"text nebo null\",\n  \"hodnoceni\": {\n    \"dojezd_praha\": 0-5,\n    \"dojezd_usti\": 0-5,\n    \"skola_skolka\": 0-5,\n    \"nutne_investice\": 0-5,\n    \"technicky_stav\": 0-5,\n    \"pozemek\": 0-5,\n    \"cena\": 0-5,\n    \"vyziti_deti\": 0-5\n  }\n}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -6224,
        -832
      ],
      "id": "21ea3077-4318-40af-b9ed-71fbcffa4730",
      "name": "Ziskej hodnoceni z Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "pbya3lMDvMkLKebo",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b28376c-89e7-4e1c-bb30-2ca5b6793cd0",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5541fd85-3501-45b4-b269-c612da3c7b93",
              "leftValue": "={{ $json.unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6448,
        -816
      ],
      "id": "e5fd5a20-c3d0-4db8-ac63-1c32544140cd",
      "name": "If máme inzeráty ke zpracování"
    },
    {
      "parameters": {
        "jsCode": "// FINÁLNÍ CODE NODE S LOCATION\nconst items = [];\n\nfor (const inputItem of $input.all()) {\n  try {\n    let messageContent = inputItem.json.message;\n    \n    if (typeof messageContent === 'string') {\n      console.log('Processing item ' + inputItem.json.id);\n      \n      // Odstraň markdown\n      const jsonMarker = 'json';\n      const tripleChar = String.fromCharCode(96);\n      const markdownStart = tripleChar + tripleChar + tripleChar + jsonMarker;\n      const markdownEnd = tripleChar + tripleChar + tripleChar;\n      \n      if (messageContent.startsWith(markdownStart)) {\n        messageContent = messageContent.substring(markdownStart.length);\n      }\n      \n      const lastMark = messageContent.lastIndexOf(markdownEnd);\n      if (lastMark !== -1) {\n        messageContent = messageContent.substring(0, lastMark);\n      }\n      \n      // Escape sekvence\n      messageContent = messageContent\n        .replace(/\\\\n/g, '\\n')\n        .replace(/\\\\\"/g, '\"')\n        .trim();\n      \n      console.log('CLEANED MESSAGE:', messageContent.substring(0, 200));\n      \n      const evaluation = JSON.parse(messageContent);\n      \n      // Kompletní output s location\n      items.push({\n        json: {\n          // Identifikace\n          unique_id: evaluation.unique_id,\n          location: evaluation.lokalita,\n          \n          // AI hodnocení\n          dojezd_praha: evaluation.hodnoceni?.dojezd_praha ?? 0,\n          dojezd_usti: evaluation.hodnoceni?.dojezd_usti ?? 0,\n          skola_skolka: evaluation.hodnoceni?.skola_skolka ?? 0,\n          nutne_investice: evaluation.hodnoceni?.nutne_investice ?? 0,\n          technicky_stav: evaluation.hodnoceni?.technicky_stav ?? 0,\n          pozemek: evaluation.hodnoceni?.pozemek ?? 0,\n          cena: evaluation.hodnoceni?.cena ?? 0,\n          vyziti_deti: evaluation.hodnoceni?.vyziti_deti ?? 0,\n          \n          // Stav nemovitosti\n          rezervovano: evaluation.rezervovano ?? false,\n          nevhodne_pro_rodinu: evaluation.nevhodne_pro_rodinu ?? false,\n          duvod_nevhodnosti: evaluation.duvod_nevhodnosti ?? null\n        }\n      });\n    }\n  } catch (error) {\n    console.error('FAILED FOR ID: ' + inputItem.json.id);\n    console.error('ERROR: ' + error.message);\n    console.error('RAW MESSAGE:', inputItem.json.message);\n    \n    items.push({\n      json: {\n        unique_id: 'error_' + inputItem.json.id,\n        location: 'Neznámá lokalita',\n        error: true,\n        error_message: error.message,\n        dojezd_praha: 0,\n        dojezd_usti: 0,\n        skola_skolka: 0,\n        nutne_investice: 0,\n        technicky_stav: 0,\n        pozemek: 0,\n        cena: 0,\n        vyziti_deti: 0,\n        rezervovano: false,\n        nevhodne_pro_rodinu: false,\n        duvod_nevhodnosti: null\n      }\n    });\n  }\n}\n\nconsole.log('Successfully processed ' + items.length + ' items');\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5984,
        -832
      ],
      "id": "55e55393-339a-4dc9-afdc-6dafb6c8c077",
      "name": "Převeď AI odpověď na objekty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cd17684-49df-49c7-aac2-1d25394ce6ba",
              "leftValue": "={{ $json.rezervovano }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "f5e925d6-8854-4fe0-9d9b-3b205f0d3167",
              "leftValue": "={{ $json.nevhodne_pro_rodinu }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4640,
        -800
      ],
      "id": "25e3f7ad-bc28-4f9d-93c9-4bb257a903ec",
      "name": "If není rezervace a je vhodné"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "unique_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5696,
        -816
      ],
      "id": "bdafde13-c817-4afb-8b5e-954aec2499cb",
      "name": "Propoj hodnoceni a url"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3968,
        -1296
      ],
      "id": "9c8def9d-91a0-407d-845c-3bc437d959f9",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "262ba2a4-bf4b-8050-a729-d7fa73dddc93",
          "mode": "list",
          "cachedResultName": "Domy",
          "cachedResultUrl": "https://www.notion.so/262ba2a4bf4b8050a729d7fa73dddc93"
        },
        "title": "Domy",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Dům|title",
              "title": "={{ $json.location }}"
            },
            {
              "key": "Dojezd do Prahy|number",
              "numberValue": "={{ $json.dojezd_praha }}"
            },
            {
              "key": "Dojezd do Ústí|number",
              "numberValue": "={{ $json.dojezd_usti }}"
            },
            {
              "key": "Škola & školka|number",
              "numberValue": "={{ $json.skola_skolka }}"
            },
            {
              "key": "Nutné investice|number",
              "numberValue": "={{ $json.nutne_investice }}"
            },
            {
              "key": "Technický stav|number",
              "numberValue": "={{ $json.technicky_stav }}"
            },
            {
              "key": "Pozemek|number",
              "numberValue": "={{ $json.pozemek }}"
            },
            {
              "key": "Cena|number",
              "numberValue": "={{ $json.cena }}"
            },
            {
              "key": "Vyžití pro děti|number",
              "numberValue": "={{ $json.vyziti_deti }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ \"https://sreality.cz\" + $json.url }}"
            },
            {
              "key": "Velikost města|number",
              "numberValue": "={{ $json.velikost_mesta }}"
            }
          ]
        },
        "options": {
          "iconType": "emoji",
          "icon": "🛖"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -4144,
        -816
      ],
      "id": "95ce1949-e4e7-4b01-937f-b269a6e2b0ee",
      "name": "Zapis domy do databaze",
      "credentials": {
        "notionApi": {
          "id": "i4KxpUuErwtEY3Mh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "521f8665-9752-41f8-a3fe-047d397d2a64",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "2619ef64-75d3-4f6a-b728-f27c68c86f29",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6080,
        -1312
      ],
      "id": "f6568c05-d5a4-4921-8199-81d8fcaf4f12",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Neni zadny inzerat!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -6064,
        -1088
      ],
      "id": "d7b39e68-1d1d-4e44-8a70-be00b3dbe1f5",
      "name": "Neni zadny inzerat!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ff4bb5e-cc67-4ddd-bd5f-5df4708ebdd2",
              "name": "=unique_id",
              "value": "={{ $json.url[0].split('/').pop() }}{{ Math.floor(Math.random() * 10000) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5152,
        -1536
      ],
      "id": "9a216a51-dff0-444c-9c0a-c47c33f83b86",
      "name": "Unikatni ID pro parovani"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "262ba2a4-bf4b-8050-a729-d7fa73dddc93",
          "mode": "list",
          "cachedResultName": "Domy",
          "cachedResultUrl": "https://www.notion.so/262ba2a4bf4b8050a729d7fa73dddc93"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -5888,
        -1744
      ],
      "id": "97d6ddc6-7387-42d7-94e9-66a6f8745d02",
      "name": "Ziskej zaznamy z databaze",
      "credentials": {
        "notionApi": {
          "id": "i4KxpUuErwtEY3Mh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb083387-b3f1-4d9c-b1f2-e127126736fd",
              "name": "url",
              "value": "={{ $json.property_url.replace(/^https?:\\/\\/[^\\/]+/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5680,
        -1744
      ],
      "id": "12efcca5-9dbd-4405-a8a9-ebc7fb5fc14e",
      "name": "Ziskej detail url"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "   SELECT input2.*\n     FROM input2\nLEFT JOIN input1 ON input2.url = input1.url\n    WHERE input1.url IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5360,
        -1536
      ],
      "id": "11c4f59b-f1d0-4869-a792-f743ad4942ea",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eec0bc07-99cb-4aef-a98a-d2adbcf887a3",
              "name": "urlId",
              "value": "={{ $json.url.split('/').slice(-1)[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4800,
        -1680
      ],
      "id": "f39cbc7f-09e0-46e8-8bd2-48bddb60ac3b",
      "name": "Ziskej Id inzeratu"
    },
    {
      "parameters": {
        "url": "={{ \"https://www.sreality.cz/api/cs/v2/estates/\" + $json.urlId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Accept-Language",
              "value": "cs-CZ,cs;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Referer",
              "value": "https://www.sreality.cz/"
            },
            {
              "name": "Origin",
              "value": "https://www.sreality.cz/"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "cors"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "same-origin"
            },
            {
              "name": "Sec-Ch-Ua",
              "value": "\"Google Chrome\";v=\"129\", \"Not=A?Brand\";v=\"8\", \"Chromium\";v=\"129\" Sec-Ch-Ua-Mobile: ?0"
            },
            {
              "name": "Sec-Ch-Ua-Platform",
              "value": "\"Windows\""
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4592,
        -1680
      ],
      "id": "5ec6da02-1d79-4222-8e98-bbd9f12b0951",
      "name": "HTTP Request",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Sreality API",
        "height": 304,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4848,
        -1776
      ],
      "typeVersion": 1,
      "id": "a0f8865c-e499-4403-9713-6b57449dfbd4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab32eb5e-c7d4-486a-8ec6-fb4725884195",
              "name": "price",
              "value": "={{ $json.price_czk.value_raw }}",
              "type": "string"
            },
            {
              "id": "c1bb9da4-47d2-43f6-baf4-96b52f8f9203",
              "name": "description",
              "value": "={{ $json.text.value }}",
              "type": "string"
            },
            {
              "id": "9931a344-f85b-4af4-9eb9-ef51954034c5",
              "name": "location",
              "value": "={{ $json.locality.value }}",
              "type": "string"
            },
            {
              "id": "61c4152e-c606-4e25-90bb-ef2d01e6f261",
              "name": "energy_class",
              "value": "={{ $json.energy_efficiency_rating_cb === 1 ? 'A' : $json.energy_efficiency_rating_cb === 2 ? 'B' : $json.energy_efficiency_rating_cb === 3 ? 'C' : $json.energy_efficiency_rating_cb === 4 ? 'D' : $json.energy_efficiency_rating_cb === 5 ? 'E' : $json.energy_efficiency_rating_cb === 6 ? 'F' : $json.energy_efficiency_rating_cb === 7 ? 'G' : 'G' }}",
              "type": "string"
            },
            {
              "id": "36011bed-38c4-493d-8deb-63fe3e4f6e1c",
              "name": "tabulka",
              "value": "={{ $json.items }}",
              "type": "string"
            },
            {
              "id": "e7f02500-b041-41e4-878d-d1445eedc4c7",
              "name": "locality_district_id ",
              "value": "={{ $json.locality_district_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4384,
        -1680
      ],
      "id": "f77b905c-f944-4150-9a0f-31dac8d8c6ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const vstup = $json.nazev; // nebo $json.obec podle struktury dat\n\nfunction vycistitNazevObce(text) {\n  if (!text || typeof text !== 'string') {\n    return 'RANDOM';\n  }\n  \n  // Odstranit extra mezery a trimovat\n  let clean = text.trim().replace(/\\s+/g, ' ');\n  \n  // Seznam krajských a okresních měst pro pozdější kontrolu\n  const vyznamnaAMesta = [\n    'Praha', 'Brno', 'Ostrava', 'Plzeň', 'Liberec', 'Olomouc', 'České Budějovice',\n    'Hradec Králové', 'Ústí nad Labem', 'Pardubice', 'Zlín', 'Karlovy Vary', \n    'Jihlava', 'Kladno', 'Most', 'Opava', 'Frýdek-Místek', 'Karviná', 'Teplice',\n    'Chomutov', 'Děčín', 'Přerov', 'Jablonec nad Nisou', 'Mladá Boleslav', 'Prostějov',\n    'Přerov', 'Česká Lípa', 'Třinec', 'Tábor', 'Znojmo', 'Třebíč', 'Martin',\n    'Kolín', 'Příbram', 'Cheb', 'Písek', 'Trutnov', 'Orlová', 'Vsetín',\n    'Valašské Meziříčí', 'Šumperk', 'Kroměříž', 'Uherské Hradiště', 'Náchod',\n    'Litoměřice', 'Nový Jičín', 'Český Krumlov', 'Havířov', 'Benešov', 'Semily'\n  ];\n  \n  // 1. Pokud obsahuje pomlčku, rozdělíme a vezmeme první část\n  if (clean.includes(' - ')) {\n    const parts = clean.split(' - ');\n    const prvni = parts[0].trim();\n    const druha = parts[1] ? parts[1].split(',')[0].trim() : '';\n    \n    // Pokud první část je významné město, vrátíme ji\n    if (vyznamnaAMesta.includes(prvni)) {\n      return prvni;\n    }\n    \n    // Pokud druhá část je významné město, vrátíme ji\n    if (vyznamnaAMesta.includes(druha)) {\n      return druha;\n    }\n    \n    // Jinak označíme jako RANDOM (malé obce spojené pomlčkou)\n    return 'RANDOM';\n  }\n  \n  // 2. Pokud obsahuje čárku, rozdělíme a analyzujeme části\n  if (clean.includes(',')) {\n    const parts = clean.split(',').map(p => p.trim());\n    \n    for (let i = 0; i < parts.length; i++) {\n      const cast = parts[i];\n      \n      // Přeskočíme části začínající \"okres\"\n      if (cast.toLowerCase().startsWith('okres')) {\n        continue;\n      }\n      \n      // Pokud najdeme významné město, vrátíme ho\n      if (vyznamnaAMesta.includes(cast)) {\n        return cast;\n      }\n      \n      // Pokud část obsahuje známé město jako substring\n      for (const mesto of vyznamnaAMesta) {\n        if (cast.includes(mesto)) {\n          return mesto;\n        }\n      }\n    }\n    \n    // Pokud nenajdeme významné město, vrátíme první část (může být ulice/čtvrť)\n    const prvniCast = parts[0];\n    \n    // Kontrola, jestli první část vypadá jako ulice (obsahuje typické názvy)\n    const ulicoveSlova = ['ulice', 'náměstí', 'třída', 'nábřeží', 'sad', 'sady', 'Ku ', 'Na ', 'Pod ', 'Nad ', 'V ', 'U ', 'Za '];\n    const jeUlice = ulicoveSlova.some(slovo => prvniCast.includes(slovo));\n    \n    if (jeUlice && parts.length > 1) {\n      // Pokud první část je ulice, vrátíme druhou část\n      return parts[1].split(' okres')[0].trim();\n    }\n    \n    return prvniCast;\n  }\n  \n  // 3. Bez čárky ani pomlčky - vrátíme jak je\n  return clean;\n}\n\nconst vysledek = vycistitNazevObce(vstup);\n\nreturn { \n  location: vysledek \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5312,
        -704
      ],
      "id": "24f35b7c-0677-4bd8-9365-175eaaf00434",
      "name": "Očisti jména obcí"
    },
    {
      "parameters": {
        "jsCode": "// Seznam hlavního města\nconst hlavniMesto = ['Praha'];\n\n// Seznam krajských měst (bez Prahy)\nconst krajskaMesta = [\n  'České Budějovice', \n  'Plzeň',\n  'Karlovy Vary',\n  'Liberec',\n  'Hradec Králové', \n  'Pardubice',\n  'Jihlava',\n  'Brno',\n  'Olomouc',\n  'Zlín',\n  'Ostrava'\n];\n\n// Seznam okresních měst (bez krajských a severočeských kromě Litoměřic)\nconst okresniMesta = [\n  'Benešov', 'Beroun', 'Blansko', 'Bruntál', 'Břeclav',\n  'Česká Lípa', 'Český Krumlov', 'Domažlice', 'Frýdek-Místek', \n  'Havlíčkův Brod', 'Hodonín', 'Cheb', 'Chrudim', 'Jablonec nad Nisou', \n  'Jeseník', 'Jičín', 'Jindřichův Hradec', 'Karviná', 'Kladno', \n  'Klatovy', 'Kolín', 'Kroměříž', 'Kutná Hora', 'Litoměřice', \n  'Mladá Boleslav', 'Náchod', 'Nový Jičín', 'Nymburk', 'Opava', \n  'Pelhřimov', 'Písek', 'Prachatice', 'Prostějov', 'Přerov', \n  'Příbram', 'Rakovník', 'Rokycany', 'Rychnov nad Kněžnou', \n  'Semily', 'Sokolov', 'Strakonice', 'Svitavy', 'Šumperk', \n  'Tábor', 'Tachov', 'Trutnov', 'Třebíč', 'Uherské Hradiště', \n  'Ústí nad Orlicí', 'Vsetín', 'Vyškov', 'Znojmo', 'Žďár nad Sázavou'\n];\n\n// Funkce pro výpočet skóre\nfunction getScore(mesto) {\n  if (hlavniMesto.includes(mesto)) {\n    return 5;\n  } else if (krajskaMesta.includes(mesto)) {\n    return 4;\n  } else if (okresniMesta.includes(mesto)) {\n    return 3;\n  } else {\n    return 0;\n  }\n}\n\n// Zpracování všech items a vrácení pouze čísel\nconst scores = $input.all().map(item => {\n  const mesto = item.json.location;\n  return getScore(mesto);\n});\n\nreturn scores.map(score => ({ velikost_mesta: score }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5072,
        -704
      ],
      "id": "7a9b6dbd-39ff-455f-a0c5-2849eeeaa01d",
      "name": "Ohodnot velikost obce"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4816,
        -800
      ],
      "id": "c204ac1c-61f8-45b5-a0f3-c9552f572423",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1105aba4-6e3c-4f30-bd2b-46b7397d7a44",
              "name": "sreality_okres_id",
              "value": "={{ $json[\"locality_district_id \"] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4176,
        -1680
      ],
      "id": "02d3a45d-585e-4a63-8f2c-4d3d9b377d29",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"okresy\": [\n    {\n      \"id\": 23,\n      \"okres\": \"Litoměřice\"\n    },\n    {\n      \"id\": 27,\n      \"okres\": \"Ústí nad Labem\"\n    },\n    {\n      \"id\": 18,\n      \"okres\": \"Česká Lípa\"\n    },\n    {\n      \"id\": 21,\n      \"okres\": \"Jablonec nad Nisou\"\n    },\n    {\n      \"id\": 22,\n      \"okres\": \"Liberec\"\n    },\n    {\n      \"id\": 34,\n      \"okres\": \"Semily\"\n    },\n    {\n      \"id\": 48,\n      \"okres\": \"Benešov\"\n    },\n    {\n      \"id\": 49,\n      \"okres\": \"Beroun\"\n    },\n    {\n      \"id\": 50,\n      \"okres\": \"Kladno\"\n    },\n    {\n      \"id\": 51,\n      \"okres\": \"Kolín\"\n    },\n    {\n      \"id\": 52,\n      \"okres\": \"Kutná Hora\"\n    },\n    {\n      \"id\": 54,\n      \"okres\": \"Mělník\"\n    },\n    {\n      \"id\": 53,\n      \"okres\": \"Mladá Boleslav\"\n    },\n    {\n      \"id\": 55,\n      \"okres\": \"Nymburk\"\n    },\n    {\n      \"id\": 56,\n      \"okres\": \"Praha-východ\"\n    },\n    {\n      \"id\": 57,\n      \"okres\": \"Praha-západ\"\n    },\n    {\n      \"id\": 58,\n      \"okres\": \"Příbram\"\n    },\n    {\n      \"id\": 59,\n      \"okres\": \"Rakovník\"\n    },\n    {\n      \"id\": 8,\n      \"okres\": \"Domažlice\"\n    },\n    {\n      \"id\": 11,\n      \"okres\": \"Klatovy\"\n    },\n    {\n      \"id\": 13,\n      \"okres\": \"Plzeň-jih\"\n    },\n    {\n      \"id\": 12,\n      \"okres\": \"Plzeň-město\"\n    },\n    {\n      \"id\": 14,\n      \"okres\": \"Plzeň-sever\"\n    },\n    {\n      \"id\": 15,\n      \"okres\": \"Rokycany\"\n    },\n    {\n      \"id\": 17,\n      \"okres\": \"Tachov\"\n    },\n    {\n      \"id\": 1,\n      \"okres\": \"České Budějovice\"\n    },\n    {\n      \"id\": 2,\n      \"okres\": \"Český Krumlov\"\n    },\n    {\n      \"id\": 3,\n      \"okres\": \"Jindřichův Hradec\"\n    },\n    {\n      \"id\": 4,\n      \"okres\": \"Písek\"\n    },\n    {\n      \"id\": 5,\n      \"okres\": \"Prachatice\"\n    },\n    {\n      \"id\": 6,\n      \"okres\": \"Strakonice\"\n    },\n    {\n      \"id\": 7,\n      \"okres\": \"Tábor\"\n    },\n    {\n      \"id\": 28,\n      \"okres\": \"Hradec Králové\"\n    },\n    {\n      \"id\": 30,\n      \"okres\": \"Jičín\"\n    },\n    {\n      \"id\": 31,\n      \"okres\": \"Náchod\"\n    },\n    {\n      \"id\": 33,\n      \"okres\": \"Rychnov nad Kněžnou\"\n    },\n    {\n      \"id\": 36,\n      \"okres\": \"Trutnov\"\n    },\n    {\n      \"id\": 29,\n      \"okres\": \"Chrudim\"\n    },\n    {\n      \"id\": 32,\n      \"okres\": \"Pardubice\"\n    },\n    {\n      \"id\": 35,\n      \"okres\": \"Svitavy\"\n    },\n    {\n      \"id\": 37,\n      \"okres\": \"Ústí nad Orlicí\"\n    }\n  ]\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3968,
        -1680
      ],
      "id": "0295cde0-766b-45a5-9d88-39f23c1fc888",
      "name": "sreality ciselnik okresu"
    },
    {
      "parameters": {
        "jsCode": "const okresy = $json.okresy; // pole objektů z Set node\nconst srealityId = $json.sreality_okres_id; // číslo okresu ze Sreality\n\nconst found = okresy.find(o => o.id === srealityId);\nreturn {\n  json: {\n    okres_nazev: found ? found.okres : null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3760,
        -1680
      ],
      "id": "6e912452-3bf3-44a1-afb2-c3676246b7e4",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "DEBUG: Pochcany ciselniky z sreality",
        "height": 368,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4224,
        -1824
      ],
      "typeVersion": 1,
      "id": "6df86b03-afeb-4941-918d-4f3880cf3608",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Search URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ziskej zaznamy z databaze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search URL": {
      "main": [
        [
          {
            "node": "Ziskej seznam inzeratu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ziskej seznam inzeratu": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Ziskej odkazy na inzeraty": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ziskej hodnoceni z Perplexity": {
      "main": [
        [
          {
            "node": "Převeď AI odpověď na objekty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If máme inzeráty ke zpracování": {
      "main": [
        [
          {
            "node": "Ziskej hodnoceni z Perplexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Převeď AI odpověď na objekty": {
      "main": [
        [
          {
            "node": "Propoj hodnoceni a url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If není rezervace a je vhodné": {
      "main": [
        [
          {
            "node": "Zapis domy do databaze",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Propoj hodnoceni a url": {
      "main": [
        [
          {
            "node": "Očisti jména obcí",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If máme inzeráty ke zpracování",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zapis domy do databaze": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Ziskej odkazy na inzeraty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neni zadny inzerat!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unikatni ID pro parovani": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Propoj hodnoceni a url",
            "type": "main",
            "index": 1
          },
          {
            "node": "Ziskej Id inzeratu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ziskej zaznamy z databaze": {
      "main": [
        [
          {
            "node": "Ziskej detail url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ziskej detail url": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Unikatni ID pro parovani",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ziskej Id inzeratu": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Očisti jména obcí": {
      "main": [
        [
          {
            "node": "Ohodnot velikost obce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If není rezervace a je vhodné",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ohodnot velikost obce": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "sreality ciselnik okresu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sreality ciselnik okresu": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bf0a6f35-d7fe-4334-846a-e13b1eafaecf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76747fbaca6e1d14ccd717dc8911c429fb294ae0c18a72840b516d04b53cb529"
  },
  "id": "sHw7bN9C53BbKCBv",
  "tags": [
    {
      "createdAt": "2025-10-04T21:04:20.501Z",
      "updatedAt": "2025-10-04T21:04:20.501Z",
      "id": "DGR6hAIkRbixxSwp",
      "name": "domy"
    }
  ]
}