domy-decision-notif.json
{
  "name": "domy-decision-notif",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b83b1a5-fbf1-4a54-bcf4-02f3d606de5f",
              "leftValue": "={{ !!($json.property_pozemek !== null && $json.property_pozemek?.[0] !== null) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "200dcbc7-6677-4a5b-ba41-819a8a6ade09",
              "leftValue": "={{ !!($json.property_dojezd_do_st !== null && $json.property_dojezd_do_st?.[0] !== null) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "88dedeee-f1c7-40cd-a8d1-ebd470b9ab8a",
              "leftValue": "={{ !!($json.property_kola_kolka !== null && $json.property_kola_kolka?.[0] !== null) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "696a668e-7727-4e2c-8fe2-d87bc6728a5b",
              "leftValue": "={{ !!($json.property_cena !== null && $json.property_cena?.[0] !== null) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "874727a8-dfc5-4b47-a469-296561982da4",
              "leftValue": "={{ !!($json.property_technick_stav !== null && $json.property_technick_stav?.[0] !== null) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "34170f2e-4ea9-4494-8ee3-2b404254e2ce",
              "leftValue": "={{ !!($json.property_vy_it_pro_d_ti !== null && $json.property_vy_it_pro_d_ti?.[0] !== null) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "b5dc5bcc-3575-460a-8be8-b0596897a563",
              "leftValue": "={{ !!($json.property_dojezd_do_prahy !== null && $json.property_dojezd_do_prahy?.[0] !== null) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2016,
        -352
      ],
      "id": "391bbf54-ef54-437d-99b4-175fbde38cd4",
      "name": "If jsou vyplněny hodnoty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3135f8cd-c5bb-43ca-b604-e41886fda51f",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Je v nabídce",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2240,
        -192
      ],
      "id": "449226d9-f60d-4ee4-9083-36ae20df5ece",
      "name": "If je nově v nabídce"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Prověřuju"
            }
          ]
        },
        "options": {
          "iconType": "emoji",
          "icon": "🏡"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1264,
        -384
      ],
      "id": "131e0c24-bc31-4b67-8631-e6e632339c61",
      "name": "uprav v DB stav na prověřuju",
      "credentials": {
        "notionApi": {
          "id": "i4KxpUuErwtEY3Mh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "=Sereme na něj"
            }
          ]
        },
        "options": {
          "iconType": "emoji",
          "icon": "=🏚️"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1264,
        -176
      ],
      "id": "be161f0f-d7f3-4bb3-89cc-6412664c59b0",
      "name": "posli ten dum do prdele",
      "credentials": {
        "notionApi": {
          "id": "i4KxpUuErwtEY3Mh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2640,
        -192
      ],
      "id": "af06eec3-b28d-44b4-ba94-d67e36dd960a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "262ba2a4-bf4b-8050-a729-d7fa73dddc93",
          "mode": "list",
          "cachedResultName": "Domy",
          "cachedResultUrl": "https://www.notion.so/262ba2a4bf4b8050a729d7fa73dddc93"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -2432,
        -192
      ],
      "id": "786d7394-516c-456b-9127-9626ead91fcb",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "i4KxpUuErwtEY3Mh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002940333147",
        "text": "={{ $json.property_url }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false,
          "disable_web_page_preview": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        -384
      ],
      "id": "52d0fb01-8813-439e-bfd1-2ef6a1f33d98",
      "webhookId": "fd732835-22fb-43ec-8e55-e1fdaf043ed1",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "8UlFrqvITS1Qe0cs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -848,
        256
      ],
      "id": "c7cd456d-a57c-4b26-85d6-9d17b82ace4e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b06eb7ee-5d9a-46b2-87df-6da5015fb05f",
              "leftValue": "={{ $json.property_celkov_sk_re }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1792,
        -368
      ],
      "id": "f3eff0d3-0854-4ac4-b750-387155cecdcd",
      "name": "If má skore nad 60"
    }
  ],
  "pinData": {},
  "connections": {
    "If je nově v nabídce": {
      "main": [
        [
          {
            "node": "If jsou vyplněny hodnoty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "If je nově v nabídce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If jsou vyplněny hodnoty": {
      "main": [
        [
          {
            "node": "If má skore nad 60",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If má skore nad 60": {
      "main": [
        [
          {
            "node": "uprav v DB stav na prověřuju",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "posli ten dum do prdele",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "posli ten dum do prdele": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uprav v DB stav na prověřuju": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0af16875-7edf-4ce0-83d2-39b6113a2a6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76747fbaca6e1d14ccd717dc8911c429fb294ae0c18a72840b516d04b53cb529"
  },
  "id": "PWf9Rv0Vf8yZJxy6",
  "tags": []
}